{% extends 'mailing/base.html' %}
{% block content %}
    <div class="card">
        <div class="row g-0">
            <div class="card-header">
                <p><h4 class="card-title">
                <strong>{{ object.last_name }} {{ object.first_name }} </strong>
            </h4></p>
            </div>
            <div class="col">
                <div class="card-body">
                    <div class="container-fluid">
                        <dl class="row">
                            <dt class="col-sm-3">Email address</dt>
                            <dd class="col-sm-9">{{ object.email }}
                                {% if object.is_active %}
                                    <span class="badge rounded-pill text-bg-secondary">✓</span>
                                {% else %}
                                    <span class="badge rounded-pill text-bg-secondary">✕</span>
                                {% endif %}
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between align-items-center">
                    <small>Created at: <strong>{{ object.created_at|date:"d.m.Y H:i:s" }}</strong>, Modified at:
                        <strong>{{ object.modified_date|date:"d.m.Y H:i:s" }}</strong></small>
                    <div class="btn-group">
                        <a href="{% url 'mailing:client_update' object.pk %}"
                           class="btn btn-sm btn-outline-primary">Edit</a>
                        <a href="{% url 'mailing:client_delete' object.pk %}"
                           class="btn btn-sm btn-outline-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}